
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493365064157'); /* IE9*/
  src: url('iconfont.eot?t=1493365064157#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493365064157') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493365064157') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493365064157#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-boluo:before { content: "\e691"; }

.icon-dayouzi:before { content: "\e693"; }

.icon-chelizi:before { content: "\e692"; }

.icon-ganlan:before { content: "\e695"; }

.icon-huolongguo:before { content: "\e696"; }

.icon-longyan:before { content: "\e697"; }

.icon-qingning:before { content: "\e699"; }

.icon-pipa:before { content: "\e69a"; }

.icon-putao:before { content: "\e69b"; }

.icon-shiliu:before { content: "\e69c"; }

.icon-shuimitao:before { content: "\e69d"; }

.icon-xigua:before { content: "\e69e"; }

.icon-xiangjiao:before { content: "\e69f"; }

.icon-zao:before { content: "\e6a0"; }

